.generate-caption-form {
  text-align: center;
  padding: 20px;
}

.form-group {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.generate-button,
.back-button {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.generate-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

.captions {
  margin-top: 40px;
}

.captions h3 {
  margin-bottom: 20px;
}

.caption {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caption p {
  flex: 1;
  margin-right: 20px;
}

.caption .buttons {
  display: flex;
}

.share-button,
.save-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.share-button:hover,
.save-button:hover {
  background-color: #0056b3;
}

.save-button {
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons .generate-button {
  margin-right: 10px;
}